.error {
    align-items: center;
    background-color: #545050;
    display: flex;
    inset: 0;
    justify-content: center;
    position: absolute;
}

.error__title {
    color: #ffffff;
    font-family: Oswald, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
}
